* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}

img{
    vertical-align: inherit;
}


ul{
    list-style-type: none;
}
.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.text_center{
    text-align: center;
    line-height:6em;
}

.width_all{
    width: 100%;
}

.height_all{
    height: 100%;
}

/*处理文本溢出，默认为4行，可覆盖-webkit-line-clamp来调整显示行数*/
.text_overflow{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
    height: 65%;
}

.text_indentation{
    text-indent: 2em;
}

.text_color_deepgray{
    color: #928b8e;
}

.img_extend:hover{
    width: 101%;
    height: 101%;
    transition: 1s;
}

.circle_border{
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
    border: 1px solid black;
    border-radius:50% ;
}


.separateLine_h{
    height: 0.8%;
}

@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.an{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

.hidden{
    display: none;
}
