<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>比丘特之剑的博客</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="images/icon.png">
    <link rel="shortcut icon" href="images/favicon.ico">

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-lazyload.js"></script>
</head>
<body class="user-select" >
<div style="height: 6px;background: linear-gradient(90deg, #ff00c3, #41bd3c);"></div>
<header class="header">
    <nav class="navbar navbar-default" id="navbar" style="background-color: #0f0f0f">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <h1 class="logo hvr-bounce-in"><a href="index.html" title=""><img src="img/motto.png" alt=""></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-cont="" title="" href="index.html">首页</a></li>
                    <li><a data-cont="java" title="java" href="javascript:void(0)" onclick="lookTag(this)" value="源码分享">java</a></li>
                    <li><a data-cont="源码分享" title="源码分享" href="javascript:void(0)" onclick="lookTag(this)" value="源码分享">源码分享</a></li>
                    <li><a data-cont="IT技术笔记" title="IT技术笔记" href="javascript:void(0)" onclick="lookTag(this)" value="IT技术笔记">IT技术笔记</a></li>
                    <li><a data-cont="资讯分享" title="资讯分享" href="javascript:void(0)" onclick="lookTag(this)" value="资讯分享">资讯分享</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <!--##############################内容##################################-->
 <section class="container">
  <div id="blog" class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="javascript:void(0)">{{blogTilte}}</a></h1>
        <div class="article-meta">
          <span class="item article-meta-time">
          <time class="time"><i class="glyphicon glyphicon-time"></i> {{createDate}}</time>
          </span>
            <span class="item article-meta-source"><i class="glyphicon glyphicon-globe"></i> 比丘特之剑</span>
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom"><i class="glyphicon glyphicon-list"></i>
            <a v-for="tag in tags" href="javascript:void(0)">{{tag}}  </a></span>
            <span class="item article-meta-views" ><i class="glyphicon glyphicon-eye-open"></i> 80</span>
            <span class="item article-meta-comment"><i class="glyphicon glyphicon-comment"></i> 4</span>
        </div>
      </header>
      <article id="blog_content" class="article-content">

      </article>
      <div class="article-tags">标签：
          <a v-for="tag in tags" href="javascript:void(0)" >{{tag}}</a>
        </div>
      <div class="title" id="comment">
        <h3>评论</h3>
      </div>
      <div id="respond">
            <form id="comment-form" name="comment-form" action="" method="POST">
                <div class="comment">
                    <input name="" id="" class="form-control" size="22" placeholder="您的昵称（必填）" maxlength="15" autocomplete="off" tabindex="1" type="text">
                    <input name=""  class="form-control" size="22" placeholder="您的网址或邮箱（非必填）" maxlength="58" autocomplete="off" tabindex="2" type="text">
                    <div class="comment-box">
                        <textarea placeholder="您的评论或留言（必填）" name="comment-textarea" id="comment-textarea" cols="100%" rows="3" tabindex="3"></textarea>
                        <div class="comment-ctrl">
                            <div class="comment-prompt" style="display: none;"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text">评论正在提交中...请稍后</span> </div>
                            <div class="comment-success" style="display: none;"> <i class="fa fa-check"></i> <span class="comment-prompt-text">评论提交成功...</span> </div>
                            <button type="submit" name="comment-submit" id="comment-submit" tabindex="4">评论</button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
      <div id="postcomments">
        <ol id="comment_list" class="commentlist">        
        <li class="comment-content"><span class="comment-f">#2</span><div class="comment-main"><p><a class="address" href="http://www.muzhuangnet.com/" rel="nofollow" target="_blank">比丘特之剑</a><span class="time">(2019/01/28 11:41:03)</span><br>不错的网站主题，看着相当舒服</p></div></li>
        <li class="comment-content"><span class="comment-f">#1</span><div class="comment-main"><p><a class="address" href="http://www.muzhuangnet.com/" rel="nofollow" target="_blank">比丘特之剑</a><span class="time">(2019/03/14 21:02:39)</span><br>博客做得好漂亮哦！</p></div></li></ol>
      </div>
    </div>
  </div>
  <aside class="sidebar">
    <div class="fixed">
      <div class="widget widget-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" draggable="false">统计信息</a></li>
          <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" draggable="false">联系站长</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane contact active" id="notice">
            <h2>日志总数:
                  888篇
              </h2>
              <h2>网站运行:
              <span id="sitetime">88天 </span></h2>
          </div>
            <div role="tabpanel" class="tab-pane contact" id="contact">
              <h2>QQ:
                  <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=577211782&amp;site=qq&amp;menu=yes" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" draggable="false" data-original-title="QQ:577211782">577211782</a>
              </h2>
              <h2>Email:
              <a href="mailto:577211782@qq.com" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title="" draggable="false" data-original-title="Email:577211782@qq.com">577211782@qq.com</a></h2>
          </div>
        </div>
      </div>
      <div class="widget widget_search">
          <div class="input-group">
              <input id="key" type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
              <span class="input-group-btn">
                        <button class="btn btn-default btn-search"  type="button" onclick="look()">搜索</button>
              </span>
          </div>
      </div>
    </div>
    <div class="widget widget_hot">
          <h3>最新评论文章</h3>
<ul id="rank">
    <li v-for="blog in blogs">
        <a v-bind:title="blog.blogTilte" href="javascript:void(0)" v-bind:data-code="blog.blogCode" onclick="view_blog(this)">
                <span class="thumbnail">
                   <img class="thumb" v-lazy="blog.blogConverUrl"  style="display: block;">
                </span>
            <span class="text">{{blog.blogTilte}}</span>
            <span class="muted"><i class="glyphicon glyphicon-time">123</i>
                   {{blog.createDate}}
                </span>
            <span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span>
        </a>
    </li>
</ul>
</div>
</aside>
</section>
    <footer class="footer">
  <div class="container">
     <p>本站[<a href="/" >比丘特之剑</a>]的部分内容来源于网络，若侵犯到您的利益，请联系站长删除！谢谢！Powered By [<a href="http://www.dtcms.net/" target="_blank" rel="nofollow" >DTcms</a>] Version 4.0 </p>
  </div>
  <div id="gotop"><a class="gotop"></a></div>
</footer>
</body>
<script src="js/utils.js"></script>
<script src="js/blog.js"></script>
</html>
