<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/vue.js"></script>


    <link href="../css/Common.css" type="text/css" rel="stylesheet">
    <link href="../css/index.css" type="text/css" rel="stylesheet">
    <link href="../css/blog.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="nav" class="header">
    <div class="decoration"></div>
    <div class="header-content">
        <div class="motto">
            <a href="#">奥米伽小分队 |</a>
            <div class="author_motto"> &nbsp;&nbsp;他山之石，可以攻玉</div>
        </div>

        <ul class="menu">
            <li v-for="title in titles">
                <a v-bind:href="title.url">{{title.name}}<img class="icon-arrow" src="../img/a.png" v-if="title.sub != null && title.sub.length > 0"></a>
                <ul class="dropdown_menu" v-if="title.sub != null && title.sub.length > 0">
                    <li v-for="subTitle in title.sub">
                        <a v-bind:href="subTitle.url">{{subTitle.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="search">
            <input id="key" type="text">
            <img src="../img/search.png" onclick="search()">
        </div>
    </div>
</div>


<div class="separateLine_h"></div>

<div class="content_left" style="background-color: white">
    <div class="blog" id="blog">
        <div class="blog_classfity">
            <span>您现在的位置是：</span>网站首页 > 技术专栏
        </div>
        <div style="background-color: black;width: 90%;height: 4px;margin-top: 10px;"></div>
        <div class="blog_tilte">{{blogTilte}}</div>
        <div class="blog_info"><img src="../img/author_img.png">&nbsp;&nbsp; <img src="../img/calendar.png">&nbsp;&nbsp;{{createDate}}</div>
        <div class="blog_tags">
            <div class="blog_tag" v-for="tag in tags">{{tag}}</div>
        </div>
        <div class="blog_des"><span>简介</span>{{blogDesc}}</div>
        <div id="blog_content" class="blog_content">{{blogContent}}</div>
    </div>


</div>

<div class="content_right">
    <div class="business_card">
        <h2>名片</h2>
        <p>网名：比丘特之剑 | Mr-W</p>
        <p>职业：boy:software_Engineer</p>
        <p>现居：艾泽拉斯-洛丹伦</p>
        <p>Email：748580573@qq.com</p>

        <ul class="business_card_ul">
            <li class="business_card_li"><a class="business_card_a circle_border" href="/blog_system/page/html/index.html"><img src="../img/home.png" width="45px" height="45px"></a></li>
            <li class="business_card_li"><a class="business_card_a circle_border" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=748580573@qq.com" target="_blank"><img src="../img/xinfeng.png" width="45px" height="45px"></a></li>
            <li class="business_card_li"><a class="business_card_a circle_border" href="http://wpa.qq.com/msgrd?v=3&uin=748580573&site=qq&menu=yes" target="_blank"><img src="../img/QQ.png" width="45px" height="45px"></a></li>
            <li class="business_card_li"><a class="business_card_a circle_border" href="https://github.com/748580573/" target="_blank"><img src="../img/Git.png" width="45px" height="45px"></a></li>
        </ul>
    </div>

    <div class="separateLine_h"></div>

    <div class="hot" id="hot">
        <div class="separateLine_h"></div>
        <div class="hot_div">
            <ul>
                <li>热门文章</li>
            </ul>
        </div>

        <div class="separateLine_h"></div>

        <ul class="hot_ul">
            <li class="hot_li" v-for="blog in blogs" v-bind:data-code="blog.blogCode" onclick="view_blog(this)">
                <a class="hot_ul_li_a">{{blog.blogTilte}}</a>
            </li>
        </ul>
    </div>

    <div class="separateLine_h"></div>

    <div class="rank" id="rank">
        <div class="separateLine_h"></div>
        <div class="hot_div">
            <ul>
                <li>点击排行</li>
            </ul>
        </div>

        <div class="separateLine_h"></div>

        <ul class="rank_ul">

            <li class="rank_ul_li" v-for="blog in blogs" v-bind:data-code="blog.blogCode" onclick="view_blog(this)">
                <p class="rank_ul_li_p text_overflow text_indentation">{{blog.blogTilte}}</p>
                <div class="rank_ul_li_div">
                    <div class="rank_ul_li_div_img">
                        <img width="150px" height="120px" src="" v-bind:src="blog.blogConverUrl" >
                    </div>
                    <div class="rank_ul_li_span text_overflow">{{blog.blogDesc}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="../js/blog.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/rank.js"></script>
<script src="../js/utils.js"></script>
</body>
</html>